<nav class="navbar navbar-default">
  <div class="container-fluid">

    <div class="navbar-header">
      <a class="navbar-brand" href="/">Такси Генадий</a>
<<<<<<< HEAD
=======
      <% if user_signed_in? %>
        <%= link_to("Admin", "/orders", class: 'navbar-brand') %>
      <% end %>
>>>>>>> db10a87ec2d4275023a4df9aec55a192185eb730
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to("Заказ такси", "/order") %></li>
      <li><%= link_to("Клиентам", "/for_clients") %></li>
      <li><%= link_to("Водителям", "/for_drivers") %></li>
      <li><%= link_to("Служба качества", "/service_qualities/new") %></li>
    </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>    
