<%= simple_form_for @order do |f| %>

	<ul>
		<li class="name">	<%= f.text_field :username, class: "form-control name", placeholder: 'Как вас зовут?' %></li>
		<li class="from">	<%= f.text_field :adress_from, class: "form-control from_adress", placeholder: 'Откуда? улица(strada) Пушкина' %></li>
    <li class="home_adress"> <%= f.text_field :home_adress, class: "form-control home_adress", placeholder: 'Дом' %></li>
		<li class="to">	<%= f.text_field :adress_to, class: "form-control", placeholder: 'Куда?' %></li>
		<li> <%= f.text_field :phone_number, class: "form-control", placeholder: 'Ваш номер телефона' %></li>
		<li> <%= f.submit "Заказать", class: "btn btn-success", id: "submitbotton" %></li>
	</ul>

<% end %>
