<%= simple_form_for @order do |f| %>
<<<<<<< HEAD
<%= f.label :username, "Введите ваше имя" %>
<br>
<%= f.text_field :username, class: "form-control" %>
<br>
<%= f.label :adress_from, "Адрес откуда едите" %>
<br>
<%= f.text_field :adress_from, class: "form-control"%>
<br>
<%= f.label :adress_to, "Адрес куда едите" %>
<br>
<%= f.text_field :adress_to, class: "form-control" %>
<br>
<%= f.label :home_adress, "Номер дома" %>
<br>
<%= f.text_field :home_adress, class: "form-control" %>
<br>
<%= f.label :phone_number, "Ваш номер телефона" %>
<br>
<%= f.text_field :phone_number, class: "form-control" %>
<br>
<%= f.submit "Заказать", class: "btn btn-success" %>

<% end %>

    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
    <script type="text/javascript">
        ymaps.ready(init);
        var myMap,
            myPlacemark;

        function init(){     
            myMap = new ymaps.Map ("map", {
                center: [47.0105, 28.8638],
                zoom: 12
            });

            myPlacemark = new ymaps.Placemark([47.0105, 28.8638], { 
            });

            myMap.geoObjects.add(myPlacemark);
        }
        </script>
        </head>

<body>
    <div id="map" style="width: 600px; height: 400px"></div>
</body>



=======
	<ul>
		<li class="name">	<%= f.text_field :username, class: "form-control name", placeholder: 'Как вас зовут?' %></li>
		<li class="from">	<%= f.text_field :adress_from, class: "form-control from_adress", placeholder: 'Откуда? улица(strada) Пушкина' %></li>
    <li class="home_adress"> <%= f.text_field :home_adress, class: "form-control home_adress", placeholder: 'Дом' %></li>
		<li class="to">	<%= f.text_field :adress_to, class: "form-control", placeholder: 'Куда?' %></li>
		<li> <%= f.text_field :phone_number, class: "form-control", placeholder: 'Ваш номер телефона' %></li>
		<li> <%= f.submit "Заказать", class: "btn btn-success" %></li>
	</ul>

<% end %>


>>>>>>> 315cec726693f23b7705e4844cef3aa4f84f4a64
